*{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color:#9b9898 ;
    color: white;
}
.items{
    display: flex;
    list-style: none;
}
.item{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.title-banner{
    font-size:85px;
    font-weight: bold;
}
.primary{
    color: rgb(240, 12, 12);
}

.descripton{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding:10px
}

.btn{
    padding: 15px 35px;
    border: none;
    font-size: 18px;
    margin: 5px; 
}
.btn-discover{
    background-color:red;
    color: white;
}
.btn-hire{
    color: red;
}



.service-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;;
color: white;
padding:20px;
display: flex;
justify-content:center;
align-items:center;
margin: 0 auto;
}
.service-btn{
    color: gray;
    border-radius:25px
}
.service-title{
    font-size: 40px;
    font-weight: bold;
}
.service-description{
    font-size:20px;
    width: 50%;
    padding: 10px;
}
.author-details{
    display: flex;
    align-items: center;
}
.author-img-desc{
    display: flex;
    align-items:center;
    padding: 20px;
    border-right: 1px solid red;
}
.author-img{
    width:100px;
    height: 100px;
    border-radius:50px;
}
.more-details{
    padding: 20px;
}
.service-up{
    display: flex;
}
.service{
    padding: 10px;
    background-color:white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align:center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}
.service-down{
    display: flex;
}
.service-left-container{
    width: 50%;
}

